@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1.7;
}

.card {
  height: 450px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.card-text {
  font-size: 14px;
  line-height: 1.4;
}

.footer {
  background-color: #333333;
  color: #fff;
  padding: 2em;
}

.footer-title {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #16ba6a;
}

@media (max-width:1023px) {

  .header2 {
    padding: 12px 20px;
  }


  .title {
    font-size: 1.8em;
  }
}

nav {
  background-color: #333;
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}

nav a:hover {
  color: #15e4d0;
}

a:nth-child(1) {
  width: 100px;
}

a:nth-child(2) {
  width: 110px;
}

a:nth-child(3) {
  width: 100px;
}

a:nth-child(4) {
  width: 160px;
}

a:nth-child(5) {
  width: 120px;
}